@media only screen and (max-width: 480px) {
    article{
    grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
    article{
    grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1279px) and (min-width: 769px) {
    article{
    grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 1280px) {
    article{
    grid-template-columns: repeat(5, 1fr);
    }
}

html {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #c3c3c3;
}
.photo{
    margin: 1rem;
    padding: .5rem;
    color: red;
    border: 1px red solid;
    border-radius: .3rem;
    cursor: default;
}
ul, li{
    display: inline;
    margin: 1vw;
    color: #2f2f2f;
}
li:hover{
    cursor:not-allowed;
}
li:last-child{
    margin-right: 3vw;
}
li:last-child:hover {
    cursor: pointer;
}

article{
    height: 100%;
    display: grid;
    grid-template-rows: auto;
}
section{
    width: 15vw;
    height: 20vw;
    min-width: 150px;
    min-height: 200px;
    margin: .5rem auto;
    background-color:  #c3c3c3;
    border: 1px grey solid;
    border-radius: .2rem;
}
.card{
    height: 100%;
}
img{
    width: 100%;
}
p{
    text-align: center;
    margin: 0;
}
a{
    text-decoration: none;
    color: #2f2f2f;
}
footer{
    width: 100%;
    margin-top: .5rem;
    padding: 1rem 0 ;
    color: #2f2f2f;
    background: #ccc;
    text-align: center;
}