body {
  margin: 0;
  background: #f3f4f8;
  /* background-image: linear-gradient(145deg,var(--shade3),var(--shade2)); */
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
